{% assign events = site.data.events %}

{% if events %}
<div>
    <h2 id="event-list">All Events</h2>
    <ul class="post-list">
    {% for item in site.data.events %}
    <li class="event">
        <div class="post-link__heading">
            <h3 class="post-link__title event">{{ item.title }}</h3>
            <span class="post-link__excerpt">{{ item.description }}</span>
            <span class="post-date">{{ item.start | date: "%A, %B %d, %Y, %I:%M %p" }}-{{ item.end | date: "%I:%M %p"}}</span>
        </div>
    </li>

    {% endfor %}
    </ul>
</div>
{% endif %}