<!DOCTYPE html>
<html>
<head>
  <!-- 
    Display description for events
    Show the list of events as they follow each other -->

  <style>
    #calendar {
      max-width: 900px;
      margin: 40px auto;
    }
    .fc-daygrid-day {
      height: 80px;
      width: 120px;
    }
    .fc-event {
      height: 100%;
      width: 100%;
      padding: 2px;
      font-size: 12px;
      overflow: overlay;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;
    }
  </style>

  <script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6.3.1/dist/tippy-bundle.umd.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var calendarEl = document.getElementById("calendar");

      var events = {{ site.data.events | jsonify }};
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: "dayGridMonth",
        initialDate: "2023-04-01",
        //color
        eventColor: "black",
        editable: true,
        selectable: true,

        eventDidMount: function (info) {
          const element = info.el;
          const title = info.event.title;
          const description = info.event.extendedProps.description;

          // Set the background color and text color
          element.style.backgroundColor = "#DDE6A5";
          element.style.color = "black";

          // Combine title and description with a line break
          const tooltipContent = `<strong>${title}</strong><br>${description}`;

          // Initialize Tippy.js tooltip
          tippy(element, {
            content: tooltipContent,
            allowHTML: true, // Allow HTML content in the tooltip
            animation: "scale", // Set the animation style
            duration: 200, // Duration of the animation
            arrow: true, // Show an arrow pointing to the target element
            delay: [100, 50], // Delay in milliseconds for showing and hiding the tooltip
          });
        },

        headerToolbar: {
          left: "prev,next, today",
          center: "title",
          right: "dayGridMonth,listYear",
        },

        events: events,
      });
      calendar.render();
    });
  </script>
</head>
<body>
  <div id="calendar"></div>
</body>
</html>
