/* homep page block */

div.callout {
    max-width: 50rem;
    font-size: .875em;
    padding-bottom: 2.25em;
    margin: 1.5em auto;
    text-align: center;
  }

/* Button styling */

button {
    background-color: $lime;
    font: inherit;
    border-width: 1px;
    border-color: black;
    padding: 12px 28px;
    border-radius: 8px;
    color: black;
  }
  
  button:hover {
    background-color: $teal;
  }

/* Basic page */

.page {
    background: $orangey;
    margin: 1.5em auto;
    max-width: 80rem;
    padding: 1em 0;
    box-shadow: 12px 18px 24px rgba(darken($brand-color, 50%), .1);
  }
  
  .page > * {
    margin-left: auto;
    margin-right: auto;
    // max-width: 70rem;
    padding: 0 1em;
  }
  
  .page > h1 {
    font-size: 1.5em;
    max-width: 48rem;
    padding: 1em 1em;
    text-align: center;
    @media (min-width: $on-tablet) {
      font-size: 2em;
    }
  }
  
  .page p {
    // text-align: justify;
    //text-indent: 1.5em;
    // text-justify: inter-word;
    font-size: .875em;
    @media (min-width: $on-tablet) {
      font-size: 1em;
    }
  }
  
  .post p:first-of-type,
  .post h2 + p {
    text-indent: 0;
  }
  
  .post a:hover {
    background: $highlight;
  }
  
  .post dl,
  .post ul,
  .post ol {
    margin: 1.5em;
  }
  
  .page li {
    // margin-left: 1.5rem;
    // margin-right: 1.5rem;
    font-size: .875em;
    @media (min-width: $on-tablet) {
      font-size: 1em;
    }
  }


  /* Calendar - event list */

h3.event {
    font-size: .875em;
    // font-weight: bold;
    margin-bottom: 0;
}

.event p {
    margin: 0;
}

.post-list li.event {
    max-width: 42em;
    margin: 1em auto;
    background-color: $lime;
    border-radius: 15px;
   
    @media (min-width: $on-tablet) {
      border-radius: 25px;
      padding: .25em .5em;
    }
  }

  /* Calendar grid */

  .calendar-content {
   display: none;
   @media (min-width: $on-tablet) {
    display:block;
   }
  }
  #calendar {
    max-width: 60rem;
    margin: 40px auto;
  }
  .fc-daygrid-day {
    height: 80px;
    width: 7rem;
  }
  .fc-event {
    height: 100%;
    width: 100%;
    padding: 2px;
    font-size: 14px;
    overflow: overlay;
    text-overflow: ellipsis;
    // white-space: nowrap;
    word-wrap: break-word;
  }

  /* gallery style */

  .carousel {
    margin-bottom: 1.5em;
  }

  .carousel-control-next, .carousel-control-prev {
    background-color: transparent !important;
  }

  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    margin: 0 !important;
  }

  .carousel-item {
    img {
      margin: 0;
    }
  }

  .carousel-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.499);
    text-align: center;
    display: block !important;

    h5 {
      font-size: 1.25rem;
      margin: .75rem;
      @media (max-width: $on-tablet) {
        font-size: 1rem;
        margin: 0.5rem;
      }
      @media (max-width: $on-bigphone) {
        font-size: .75rem;
        margin: 0.5rem;
      }
    }
}