.site-navigation {
  margin-top: 1rem;
  //max-width: 500px;
  justify-content:center;

  padding: 0 1rem;
  &:hover,
  &:focus-within {
    a {
      opacity: .7;
    }
  }
}

.site-navigation ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-navigation li {
  list-style: none;
  font-size: .875em;
  width: 20%;
  // font-variant: small-caps;
  margin: 0;
  &.active a {
    text-decoration: underline;
    //background-color: $teal;
  }
}

.site-navigation a {
  display: block;
  padding: .25em .5em;
  background-color: $pink;
  text-decoration: none;

  transition: opacity .125s ease-in-out;
  &:hover,
  &:focus {
    opacity: 1;
    background-color: $purpley;
  }
}