$brand-color:         #cdb3d4;
$highlight:           lighten($brand-color, 35%);
$text-color:          #0b0404;
$muted-text-color:    #232024;
<<<<<<< HEAD
$font-family:         "Avenir", "Helvetica", "Arial", sans-serif;
$heading-font:        "Avenir", "Helvetica", "Arial", sans-serif;
=======
$font-family:         "Helvetica", "Arial", sans-serif;
>>>>>>> main

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;

<<<<<<< HEAD

=======
>>>>>>> main
// Real Housewives Palette
$purpley:         #cdb3d4;
$teal:            #63BCC9;
$orangey:         #FFBE88;
<<<<<<< HEAD
$pink:             #E787C8;
$bluegreen:        #47CACC;
=======
$lime:           #DDE6A5;
>>>>>>> main
