---
layout: default
permalink: /
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead site-masthead-home">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
    {% if site.title %}

    {% endif %}
  </header>
{% endif %}

<div class="callout">
<p><strong>Greek Drama / Black Lives: Intergenerational Collaboration in Philadelphia</strong> is an ACLS sponsored project designed to restore and fortify relationships between Bryn Mawr College, the Community College of Philadelphia, and the E. M. Stanton School (K-8) in South Philadelphia.  The project encompasses a year of vibrant outreach programming culminating in a collaborative reimagination Euripides' Medea, which centers questions of race and familial conflict, and the characters of Medea's children.  This is “Greek theater through Black eyes.”</p>
  <figure>
    <img src="{{ site.baseurl }}/assets/images/Stanton_Medea-57.jpg" alt="Image of Black middle school students with expressive body language."/>
    <figcaption>Students at the E.M. Stanton School (K-8) in South Philadlephia participate in an acting exercise. Photo by Aaron Windhorst for Bryn Mawr College</figcaption>
  </figure>  
  <p>Learn more about <a href="{{ site.baseurl }}/play">the play <em>Media/Medea</em> by James Ijames here.</a></p>
<p>
  <a href='https://brynmawrarts.ticketleap.com/medea/' target="_blank"><button>Bryn Mawr Ticket Reservations</button></a>
  <a href='https://community-college-of-philadelphia.ticketleap.com/media-medea/' target="_blank"><button>CCP Ticket Reservations</button></a>
</p>

</div>
  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Page {{ paginator.page }}
    {% else %}
      Blog
    {% endif %}
  </h1>

  {% if site.paginate and site.paginate_path %}
    
    <ul class="post-list">
      {% for post in paginator.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}

      <div class="post-pagination">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous btn">Newer&nbsp;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
      </div>

    {% endif %}

  {% else %}

    <ul class="post-list">
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>
  
  {% endif %}
    

</main>
